/* RESETS
    Here you put styles that modify the original behavior CSS/HTML had,
    for example: list elements come with a little circle that nobody uses anymore.
 */
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

/* 
    BEHAVIORAL STYLES
    for example: .horizontal, .container, .p-1 (for padding one)
*/
a {
  color: black;
}
a:visited {
  color: black;
}
.p-1 {
  padding: 10px;
}
.container {
  max-width: 900px;
  margin: auto;
}
button {
  background: black;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}
img {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 10px;
  min-width: 10px;
}
.layout {
  display: flex;
  justify-content: flex-end;
}
.layout ul li {
  margin-left: 10px;
}
.layout.layout-left {
  justify-content: flex-start;
}
.layout.layout-left li {
  margin-right: 10px;
}
.layout.horizontal {
  flex-direction: row;
}
.layout.horizontal .img {
  flex-grow: 1;
  margin-top: 10px;
}
.layout.horizontal .img:first-child {
  margin-left: 0;
}
.w-50 {
  width: 50%;
}
/* 
    SPECIFIC TO YOUR WEBSITE 
    The more senior you become the less you have specific styles
*/
.navbar {
  border-bottom: 1px solid gray;
}
.gallery .img {
  height: 120px;
}
.principal-img {
  height: 300px !important;
}
.logo {
  flex-grow: 1;
}
.menu {
  flex-grow: 2;
}
.pwd {
  text-transform: uppercase;
}
.price {
  font-size: 20px;
}
.description {
  border-top: 1px solid gray;
  margin-top: 10px;
}
